			body {
				font-family: sans-seriff;
				
			}
			#time_box {
				font-weight: bold;
			}
			
			#circleSquareHolder {
				height: 500px;
				width: 100%;
				border: 1px black solid;
			}
			
			#target {
				width: 200px;
				height: 200px;
				background-color: red;
				position: relative;
			}